<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
</head>
<body style="font-family: Segoe UI;">
    <div style="padding: 10px;">
        <h2>Python Flask Upload File</h2>
        <form action="http://127.0.0.1:5000/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="f" required>
            <div style="margin-top: 10px;">
                <input type="submit" value="Upload File" style="width: 260px;">
            </div>
        </form>
    </div>
</body>
</html>